body {
    background: url(https://www.wildwarehouse.com/images/source/Card_and_Paper/Free_Downloads/Graduation/Notepad.jpg);
    background-size: cover;
}
h1 {
    color: purple;
}
li {
    color: orange;
}
h4 {
    color: blue;
}